* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222;
}

.box1 {
  width: 100px;
  height: 100px;
  background: red;
  position: absolute;
  top: 40%;
  left: 50%;
}
.box2 {
  width: 100px;
  height: 100px;
  background: green;
}
